{% extends 'base.html.twig' %}

{% block title %}Main Page{% endblock %}

{% block body %}
    <a href="/admin/user/new">{{ 'pressNew'|trans }}</a>
    <table>
        <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">title</th>
            <th scope="col">description</th>
            <th scope="col">userId</th>
        </tr>
        </thead>
        <tbody>
        {% for info in response %}
        <tr>
            <td>{{ info.id }}</td>
            <td>{{ info.title }}</td>
            <td>{{ info.description }}</td>
            <td><a href="/admin/user/{{ info.id }}"></a>{{ info.title }}</td>
        </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
{% endblock %}