{% extends 'base.html.twig' %}

{% block title %}Main Page{% endblock %}

{% block body %}
    <a href="/admin/user/new">{{ 'pressNew'|trans }}</a>
    <table>
        <thead class="thead-dark">
        <tr>
            <th scope="col">{{ 'idCol'|trans }}</th>
            <th scope="col">{{ 'nameCol'|trans }}</th>
            <th scope="col">{{ 'shortCol'|trans }}</th>
            <th scope="col">{{ 'actionsCol'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for id, content in response %}
        <tr>
            <td>{{ id }}</td>
            <td><a href="/admin/user/{{ id }}">{{ content }}</a></td>
            <td>{{ id }}{{ content }}</td>
            <td>
                <a href="/admin/user/{{ id }}/edit" class="btn btn-primary">{{ 'pressEdit'|trans }}</a>
                <a href="/admin/user/{{ id }}/delete" class="btn btn-danger">{{ 'pressDelete'|trans }}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}